<launch>
    <!--<include file="$(find rplidar_ros)/launch/rplidar.launch" />-->
    <include file="$(find ca_driver)/launch/create_2.launch" />

    <!-- LIDAR location -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_transform" args="0 0 0 -0.785398 0 0 base_link laser 10" />
</launch>
